doctype html 
html
  head
    title NIka's Dance Academy 
    block scripts
    block style
  body
    nav#navbar
        ul  
            div#logo 
                img(src="/static/logo.png")
                | HDA 
            li #[a(href="/") Home] 
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info] 
            li #[a(href="/contact") contact Us]  
    block content
    footer#footer
        | copyright Ⓒ 2022 Nikadanceacademy.com   all rights reserved   
        